@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

* {box-sizing:border-box}

body{
    font-family: 'Roboto',sans-serif;
}

/*NAVIGATION SECTION*/

   
.nav-section{
    background:url("reading_adults.jpg");
    background-size:cover;
}
nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin: 5;
  padding: 10;
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 80%;
}

 #topped{
    display: flex;
}

nav li{
    cursor: pointer;
    font-size: 20px;
    color: rgba(32, 17, 32, 0.932); 
}

nav li:hover{
    background-color: rgba(44, 23, 44, 0.932);
    color: white;
    padding: 20px;
}

nav li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.container{
    display: flex;
    
    flex-direction: column;
}

/*.nav-section{
    border: 5px solid black;
}
*/

#logo img{
    height: 250px;
    width: 250px;
    border-radius: 200px;
    border: 5px solid rgba(124, 26, 26, 0.877);
}

#logo{
    padding: 10px;
}

#donateSection button :hover{
    background-color: rgb(102, 25, 102);
    color: white;    
}

#donateSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#donateSection h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 72px;
}

#donateSection button{
box-sizing: border-box;
appearance: none;
background-color: white;
color: rgb(102, 25, 102);
font-size: large;
cursor: pointer;
margin: 20px;
padding: 1.2em 2.8em;
border-radius: 50px;
border: transparent;
}

/*ABOUT SECTION*/

#aboutUs{
    background-color: whitesmoke;
    display: flex;
    padding: 10px;
}

#aboutUs h2{
 color: purple;
}

#aboutUs h4{
    color: purple;
}
   
#missionAU{
max-width: 1000px;
}

#visionAU{
max-width: 1000px;
}

#expertiseAU{
    max-width: 1500px;
    padding: 20px;
    
}

#missionAU img{
width: 35px;
height: 40px;
}

#visionAU img{
width: 35px;
height: 40px;
}

#harold{
    width: 200px;
    height: 200px;
    padding: 10px;
}

#beneficiaryAU{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: purple;
}

#beneficiaryAU img{
    border-radius: 50px;
}

/*SPONSORS SECTION*/
 
#sponsors{
    background-color: rgba(78, 25, 78, 0.932);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    color: white;
    padding: 15px;
    border-radius: 15px;
}



#slideshow{
    height: 500px;
    max-width: 1000px;
    position: relative;
    margin: auto;
}
  .mySlides {
    display: none;
  }
  
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


/*NEWSLETTER SECTION*/
#newsLetter{
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: purple;
    background: url(bigstock-Smiling-black-man-using-laptop-306851869.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
 
.signUp{
    display: flex;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.4);
}

#register{
    color: white;
    background-color: purple;
}


/*FOOTER*/

#footer{
    background-color: rgba(78, 25, 78, 0.932);
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

#footer img{
    height: 50px;
    width: 50px;
    border-radius: 180px;
}

#footer img:hover{
 cursor: pointer;
}